<div class="jumbotron center" style="background-color: white">
    <h1> Welcome to MyRecipes </h1>
    <h4> This is the homepage for RubyOnRails Professional course</h4>
    <br/>
    <br/>
    <%=link_to "Sign up now!","", class: "btn btn-lg btn-success" %>
</div>

<div class="row">
    
    <div class="col-lg-4 center">
      <h3 class="midrow">View recipes as guest user</h3>
      <h5 class="">Browse and view recipes and sign up later</h5>
      <p><%=link_to "Browse recipes listing","",class: "left btn btn-warning btn-small"%></p>
    </div>
    
    <div class="col-lg-4 center">
      <h3 class="midrow">View recipes as guest user</h3>
      <h5 class="">Browse and view recipes and sign up later</h5>
      <p><%=link_to "Browse recipes listing","",class: "btn btn-warning btn-small"%></p>
    </div>
    
    <div class="col-lg-4 center">
      <h3 class="midrow">View recipes as guest user</h3>
      <h5 class="">Browse and view recipes and sign up later.</h5>
      <p><%=link_to "Browse recipes listing","",class: "btn btn-warning btn-small"%></p>
    </div>
    
  </div>