<div class="row">
    
    <div class="col-lg-4 center">
      <%= link_to (recipes_path) do %>
        <img style="box-shadow: 10px 10px 5px #ccc;" src="https://cdn3.iconfinder.com/data/icons/humano2/72x72/mimetypes/type-list.png">
      <% end %>
      <h3 class="midrow">View recipes as guest user</h3>
      <h5 class="">Browse and view recipes and sign up later</h5>
      
    </div>
    
    <div class="col-lg-4 center">
      <%= link_to (login_path) do %>
        <img style="box-shadow: 10px 10px 5px #ccc;" src="https://cdn3.iconfinder.com/data/icons/humano2/72x72/emblems/emblem-people.png">
      <% end %>
      
      <h3 class="midrow">Sign in to your account</h3>
      <h5 class="">Add/update recipes and much more</h5>
      
    </div>
    
    <div class="col-lg-4 center">
      <%= link_to (register_path) do %>
        <img style="box-shadow: 10px 10px 5px #ccc;" src="https://cdn2.iconfinder.com/data/icons/humano2/72x72/actions/contact-new.png">
      <% end %>
      
      <h3 class="midrow">Register new Chef</h3>
      <h5 class="">Sign up</h5>
      
    </div>
    
  </div>